.footer {
    background-color: #15317E;
    color: white;
    padding: 20px 0;
    margin-top: auto;
    width: 100vw; /* Full width */
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Spread items */
    align-items: center;
}

.footer-text {
    color: #d1d5db;
    font-size: 14px;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-link {
    color: white;
    transition: color 0.3s, transform 0.3s, opacity 0.3s;
}

.social-link:hover {
    color: #D4AF37;
    transform: scale(1.1);
    opacity: 0.9;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}
